<div class="row">
  <div class="col-md-12">
    
    <div class="center jumbotron">
      
      <h2>Welcome to the comment section of Brumbledown Wood Games</h2>
      <% if !logged_in? %>
        <h3>Please log in or sign up to add a new comment</h3>
        
        <div class="image-div">
          <div><%= image_tag "bee.png"%></div> 
          <div>
              <ul class="home-button-list">
                  <%= link_to "Sign up", signup_path, class: "button green" %>
                  <%= link_to "Log in", login_path, class: "button pink" %>
                  <%= link_to "View all comments", comments_path, class: "button purple" %>
                  <%= link_to "Brumbledown Wood Games", "http://herebegregs.uk/stana/learningGames/index.html", class: "button orange" %>
              </ul>
          </div>
          <div><%= image_tag "bear.png"%></div> 
        </div>
      <% else %>
        <div class="image-div">
          <div><%= image_tag "bee.png"%></div> 
          <div>
            <ul class="home-button-list">
                <%= link_to "Create a new comment", new_comment_path, class: "button green" %>
                <%= link_to "View all comments", comments_path, class: "button purple" %>
                <%= link_to "Brumbledown Wood Games", "http://herebegregs.uk/stana/learningGames/index.html", class: "button orange" %>
            </div>
          <div><%= image_tag "bear.png"%></div> 
      <% end %>
    </div>
  </div>
</div>




