<% obj.each do |comment| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="title">
                    <%= link_to comment.title.capitalize, comment_path(comment) %>
                </div>
                <div class="body">
                    <%= truncate(comment.description, length: 100) %>
                    <div class="details">
                        <small>
                            Created by: 
                            <% if current_user == comment.user %>
                                you,
                            <% else %>
                                <%= comment.user.username %>,
                            <% end %>
                            <%= time_ago_in_words(comment.created_at) %> ago
                        </small>
                    </div>
                </div>
                
                <% if comment.categories.any? %>
                    <p>Categories: <%= render comment.categories %></p>
                <% end %>
                
                <div class="actions">
                     <% if logged_in? && (current_user == comment.user || current_user.admin?) %>
                        <%= link_to "Edit", edit_comment_path(comment), class: "btn btn-xs orange" %>
                        <%= link_to "Delete", comment_path(comment), method: :delete,
                        data: { confirm: "Are you sure you want to delete the comment?"},
                        class: "btn btn-xs red" %>
                    <% end %>
                    <%= link_to "View", comment_path(comment), class: "btn btn-xs green" %>
                </div>
                
            </div>
        </div>
    </div>
<% end %>