<h1 align="center">All Categories</h1>

<div class="image-div">

    <div><%= image_tag "hedgehog2.png"%></div>
    
    <div align="center">
        <%= will_paginate %>
        
            <ul class="listing">
                <% @categories.each do |category| %>
                    <div class="well category-list">
                        <li class="title">
                            <%= link_to "#{category.name}", category_path(category) %>
                            <span><%= pluralize(category.comments.count, "comment") %></span>
                        </li>
                    </div>
                <% end %>
            </ul>
            
        <%= will_paginate %>
    </div>
    
    <div><%= image_tag "squirrel.png"%></div>

</div>